<div class="body">   
    <main id="container">
        <div class="reCaptcha" *ngIf="!captchaValidate">
        <ngx-recaptcha2 #captchaElem
            [siteKey]="siteKey"
            (success)="mostrarFormulario()">
        </ngx-recaptcha2> 
        </div>
        <div class="passwordForm" *ngIf="captchaValidate">
            <mat-horizontal-stepper [linear]="true" #stepper>
                <!-- Paso 2: Email -->
                <mat-step label="Email" [editable]="false" [optional]="false" [completed]="emailDatos">
                    <form class="centered-form">
                      <div id="form_header" class="form-title text-center">
                        <h2>Ingrese su email</h2>
                      </div>
                        <div class="row" id="inputs">
                            <div class="col-md-12 d-flex justify-content-center">
                              <div class="text-center input-field">
                                <input type="email" class="email" id="email" placeholder="algo@example.com" [(ngModel)]="email" [ngModelOptions]="{standalone: true}">
                              </div>
                            </div>
                          </div>                      
                        <div class="row centered-buttons">
                          <div class="col-md-12 text-center">
                            <button mat-button type="submit" class="next_button btn siguiente btn-large" (click)="envioEmail(stepper)">Siguiente</button>
                          </div>
                        </div>
                      </form>
                </mat-step>
    
                <!-- Paso 3: Código de verificación -->
                <mat-step label="Código de verificación" [editable]="false" [optional]="false" [completed]="codigoDatos">
                    <form class="centered-form">
                      <div id="form_header" class="form-title text-center">
                        <h2>Código de verificación</h2>
                      </div>
                        <div class="row" id="inputs">
                            <div class="col-md-12 d-flex justify-content-center">
                                <div class="text-center input-box">
                                    <label>Para continuar, por favor ingrese el código de verificación que fué enviado a su correo electrónico.</label>
                                </div>
                            </div>
                            <div class="col-md-12 d-flex justify-content-center">
                                <div class="text-center input-field">
                                    <input type="number" class="texto" id="codigo" placeholder="XXXXXX" [(ngModel)]="codigoRecibido" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                        </div>                      
                        <div class="row centered-buttons">
                          <div class="col-md-12 text-center">
                            <button mat-button type="submit" class="next_button btn siguiente btn-large" (click)="validarCodigo(stepper)">Siguiente</button>
                          </div>
                        </div>
                      </form>
                </mat-step>
    
                <!-- Paso 3: Cambio de contraseña -->
                <mat-step label="Cambio de contraseña" [editable]="false" [optional]="false" [completed]="codigoDatos">
                    <form class="centered-form">
                        <div id="form_header" class="form-title text-center">
                          <h2>Ingrese su nueva contraseña</h2>
                        </div>     
                        <div class="row" id="inputs">
                            <div class="col-md-12 d-flex justify-content-center">
                                <div class="text-center input-field">
                                    <input type="password" class="texto" id="password" placeholder="********" [(ngModel)]="password" [ngModelOptions]="{standalone: true}">
                                </div>
                            </div>
                          </div>                      
                        <div class="row centered-buttons">
                          <div class="col-md-12 text-center">
                            <button mat-button type="submit" class="next_button btn siguiente btn-large" (click)="cambiarPassword()">Siguiente</button>
                          </div>
                        </div>
                      </form>
                </mat-step>
              </mat-horizontal-stepper>
          </div>
    </main>
</div>