* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    margin-bottom: 5px;
}

.passwordForm {
    display: flex;
    flex-direction: column;
    height: fit-content;
    background-color: #f8fafc;
    padding: 30px 40px;
    border-radius: 8px;
    gap: 30px;
    box-shadow: 5px 5px 8px #00000056;
    animation: dark-to-light-background 0.3s ease-in-out;
}

/* Form Header */
#form_header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#form_header h2 {
    font-size: 30px;
    position: relative;
    margin-bottom: 15px;
}

/* Inputs */
#inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.input-box>label {
    font-size: 16px;
    color: #797984
}

.input-field {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    border-bottom: 1px solid #7c3aed;
    cursor: text;
    margin-bottom: 30px;
}

.input-field i {
    font-size: 18px;
    cursor: text;
    color: #000;
} 

.input-field input {
    border: none;
    width: 260px;
    background-color: transparent;
    font-size: 15px;
    padding: 0px 5px;
}

.input-field input:focus {
    outline: none;
}

.next_button {
    border: none;
    margin-top: -10px;
    background: linear-gradient(90deg, #7c3aed, #a855f7, #bf46ef);
    padding: 7px;
    border-radius: 3px;
    color: #f8fafc;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
}

.next_button:hover {
    transform: scale(1.05);
}

  @media (max-width: 1000px) {
        .card-container {
        max-width: 1000px;
        overflow-x: auto;
        display: flex;
        }
    }

  @media (max-width: 400px) {
    .captcha-container {
      overflow-x: auto;
      display: flex;
    }
  }

  @media (max-width: 329px) {
    .siguiente{
      margin-left: 0px;
    }
    .finalizar{
      margin-left: 0px;
      margin-top: -120px;
    }
  }

  @media (max-width: 319px) {
    .anterior{
      margin-right: 5px;
    }
  }

  @media (max-width: 314px) {
    .anterior{
      margin-right: 3px;
    }
  }

  @media (max-width: 309px) {
    .anterior{
      margin-right: 0px;
    }
  
    .siguiente{
        margin-left: 0px;
    }
  }