<div class="overlay" *ngIf="extensionModalAbierto">
    <mat-dialog-content class="modal-dialog-right registro">
      <form class="centered-form">
        <div class="form-title">
          <h2 style="color: #020061">La sesión está por caducar</h2>
        </div>
        <div class="col-md-12 text-center">
            <h5>Su sesión está por caducar en {{ tiempoRestante }} segundos, ¿Desea extenderla?</h5>
        </div>
        <div class="row centered-buttons">
          <div class="col-md-12 text-center">
            <a
              mat-raised-button
              type="submit"
              class="btn btn-danger btn-large cerrar"
              (click)="extensionModalAbierto = false"
            >
              Cerrar
            </a>
            <button
              type="submit"
              class="btn btn-primary btn-large guardar"
              (click)="extendSession()"
            >
              Aceptar
            </button>
          </div>
        </div>
      </form>
    </mat-dialog-content>
</div>

<div class="overlay" *ngIf="caducadaModalAbierto">
    <mat-dialog-content class="modal-dialog-right registro">
      <form class="centered-form">
        <div class="form-title">
          <h2 style="color: #020061">La sesión ha caducado</h2>
        </div>
        <div class="row centered-buttons">
            <div class="col-md-12 text-center">
                <h5>Desgraciadamente su sesión ha caducado, por favor vuelva a iniciar sesión</h5>
            </div>
          <div class="col-md-12 text-center">
            <button
              type="submit"
              class="btn btn-primary btn-large"
              (click)="expiredSession()"
            >
              Continuar
            </button>
          </div>
        </div>
      </form>
    </mat-dialog-content>
</div>