.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); /* Color de fondo oscuro y opacidad */
    z-index: 9999; /* Z-index alto para cubrir todo */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  mat-dialog-content {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
  }
  
  .form-title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .row {
    margin-bottom: 5px;
  }
  
  .linea {
    display: inline-block;
  }
  
  label {
    color: #020061;
  }
  
  .texto:focus {
    border: 1px solid #020061;
    box-shadow: 0 0 5px #020061;
  }
  
  select:focus {
    border: 1px solid #020061;
    box-shadow: 0 0 5px #020061;
  }
  
  .btn-large {
    margin-top: 15px;
    width: 100px;
  }
  
  .guardar {
    margin-left: 20px;
  }
  
  @media (max-width: 291px) {
    .guardar{
        margin-left: 0px;
    }
    .cerrar{
        margin-right: 10px;
        margin-left: 10px;
    }
  }
