.contenedor{
    margin: 1.5rem;
}

.titulo{
    padding: 10px;
    margin-bottom: 1rem;
}

.titulo h2{
    color: #2d446f;
}

.btn-formulario{
    margin-top: 0px;
}

.btn-nuevo{
    background: linear-gradient(90deg, #4e0a75,#8848ad);
}

.btn-nuevo:hover, .btn-nuevo:disabled{
    background: linear-gradient(90deg, #4e0a75c4,#8848add3);
}

.btn-todos{
    background: linear-gradient(90deg, #239646,#1ac54d);
}

.btn-todos:hover, .btn-todos:disabled{
    background: linear-gradient(90deg, #239645d5,#1ac54dcc);
}

.btn-inscrito{
    background: linear-gradient(90deg,#af5e4a, #bb5d45);
    margin-left: 10px;
}

.btn-inscrito:hover, .btn-inscrito:disabled{
    background: linear-gradient(90deg,#af5e4ada, #bb5d45d7);
}

.voluntariado {
  background-color: #FFF;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease;
  margin: 10px;
  font-size: 0.9em;
}

.voluntariado:hover {
    transform: scale(1.01);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.voluntariado h4{
    color: #2d446f;
}

.descripcion{
    text-align: justify;
}

.direccion{
    color: #63611a;
}

.fecha {
    font-size: 0.9em;
    color: #666;
}

.cerrado{
    color: #b44444;
}

.disponible{
    color: #46884f;
}