<div class="home-container fade-in">
  <div class="home-content">
    <div class="content-main slide-in">
      <div class="content-text">
        <div class="slogan">
          <h2>Mantenemos a Salvo tus Necesidades</h2>
        </div>
        <div class="animated-text">
          <h3 id="typing-text" class="typing-text">{{ typingText }}</h3>
        </div>
      </div>
    </div>
    <div class="cards-container">
      <div class="card slide-in">
        <h3>Misión</h3>
        <p>
          Nuestra misión es proporcionar una plataforma innovadora para
          organizar y gestionar servicios acorde a las necesidades de nuestros
          clientes.
        </p>
      </div>
      <div class="card slide-in">
        <h3>Visión</h3>
        <p>
          Nuestra visión es ser líderes en soluciones de organización personal y
          empresarial, mejorando continuamente la experiencia del usuario.
        </p>
      </div>
      <div class="card slide-in">
        <h3>Valores</h3>
        <p>
          Nuestros valores incluyen la integridad, la innovación, la
          responsabilidad y el compromiso con la excelencia.
        </p>
      </div>
    </div>

    <div class="cta-section slide-in">
      <h3>¿Tienes una Empresa?</h3>
      <p>
        Regístrate ahora para gestionar y organizar todos tus servicios de
        manera eficiente y segura.
      </p>
      <button class="cta-button" (click)="redirectToRegister()">
        Registrar mi Empresa
      </button>
    </div>

    <div class="social-follow slide-in">
      <h3>Síguenos en redes sociales</h3>
      <div class="social-links">
        <a href="https://www.facebook.com/profile.php?id=61561170329044">
          <img
            src="https://cdn-icons-png.flaticon.com/256/20/20673.png"
            alt="Facebook"
          />
        </a>
        <a href="https://x.com/AgendaJart56575">
          <img
            src="https://cdn-icons-png.flaticon.com/512/81/81725.png"
            alt="Twitter"
          />
        </a>
        <a href="https://www.instagram.com/ratapro77omg/">
          <img
            src="https://cdn-icons-png.flaticon.com/512/87/87390.png"
            alt="Instagram"
          />
        </a>
        <a href="https://www.youtube.com/@rataascerosa7778">
          <img
            src="https://cdn-icons-png.flaticon.com/512/152/152810.png"
            alt="YouTube"
          />
        </a>
      </div>
    </div>
  </div>
</div>
