body {
  background: linear-gradient(
    45deg,
    #1b263b 0%,
    #415a77 100%
  ); /* Degradado diagonal de azul oscuro a azul metálico */
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #b0d1d9; /* Color de texto claro */
  min-height: 100vh;
  background: linear-gradient(
    45deg,
    #1b263b 0%,
    #415a77 100%
  ); /* Degradado diagonal de azul oscuro a azul metálico */
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  width: 100%;
  max-width: 1200px;
}

.content-main {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px; /* Reduce el margen inferior aquí */
}

.content-text {
  text-align: left;
  flex-grow: 1;
}

.content-text h2 {
  font-size: 40px;
  margin-bottom: 10px; /* Reduce el margen inferior aquí */
  color: #f8f2e2; /* Color del texto del contenido */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
}

.animated-text {
  text-align: center;
  color: #f8f2e2;
  margin-bottom: 10px; /* Reduce el margen inferior aquí */
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 40px;
}

.card {
  background-color: #3e4a61;
  padding: 20px;
  border-radius: 10px;
  width: 30%;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  margin: 10px;
}

.card:hover {
  transform: scale(1.05);
}

.card h3 {
  margin-top: 0;
  color: #f8f2e2;
}

.card p {
  color: #d1d9e6;
}

.slogan {
  margin-bottom: 10px; /* Reduce el margen inferior aquí */
  text-align: center;
}

.slogan h2 {
  color: #f8f2e2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra del texto */
}

.cta-section {
  background-color: #3e4a61; /* Fondo acorde con las tarjetas superiores */
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  color: #f8f2e2; /* Color del texto claro */
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para mayor profundidad */
}

.cta-section h3 {
  margin: 0 0 10px 0;
}

.cta-section p {
  margin: 0 0 20px 0;
}

.cta-button {
  background-color: #2c3e50; /* Color del botón oscuro */
  color: #f8f2e2; /* Color del texto del botón */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #1b263b; /* Color del botón al pasar el ratón (más claro) */
}

.social-follow {
  text-align: center;
  margin-bottom: 40px;
}

.social-follow h3 {
  color: #f8f2e2;
}

.social-links {
  display: flex;
  justify-content: center;
}

.social-links a {
  margin: 0 10px;
}

.social-links img {
  width: 40px;
  transition: transform 0.3s ease;
}

.social-links img:hover {
  transform: scale(1.1);
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .card {
    width: 80%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .card {
    width: 45%;
  }
}

/* Animación de desplazamiento */
@keyframes slideIn {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-in {
  animation: slideIn 1s ease-out;
}

/* Animación de hover */
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

/* Animación de texto */
@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #f8f2e2;
  }
}

.typing-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 0.15em solid #f8f2e2;
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

/* Animación de botones */
.cta-button:hover {
  background-color: #1b263b; /* Color del botón al pasar el ratón (más claro) */
  transform: translateY(-2px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
