<div class="home-container fade-in">
  <div class="home-content">
    <div class="content-main slide-in">
      <div class="content-text">
        <div class="slogan">
          <h2>Juntos hacemos la diferencia: ¡Únete y transforma el mundo con tu voluntariado</h2>
        </div>
        <div class="animated-text">
          <h3 id="typing-text" class="typing-text">{{ typingText }}</h3>
        </div>
      </div>
    </div>
    <div class="cards-container">
      <div class="card slide-in">
        <h3>Misión</h3>
        <p>
          Inspirar y movilizar a personas para que, a través del voluntariado,
           contribuyan al desarrollo sostenible y al bienestar de sus comunidades.
        </p>
      </div>
      <div class="card slide-in">
        <h3>Visión</h3>
        <p>
          Ser la plataforma líder en conectar a voluntarios
           con oportunidades que generen un impacto positivo, 
           promoviendo una cultura de solidaridad y cooperación global.
        </p>
      </div>
      <div class="card slide-in">
        <h3>Valores</h3>
        <p>
          Nuestros valores incluyen el compromiso, empatia,
          colaboracion, integridad e innovacion
      
        </p>
      </div>
    </div>

    <div class="cta-section slide-in">
      <h3>¿Tienes una Empresa?</h3>
      <p>
        Regístrate ahora para gestionar y organizar los voluntariados que ofreces
      </p>
      <button class="cta-button" (click)="redirectToRegister()">
        Registrar mi Empresa
      </button>
    </div>

    <div class="social-follow slide-in">
      <h3>Síguenos en redes sociales</h3>
      <div class="social-links">
        <a href="https://www.facebook.com/nayeli.padron.140">
          <img
            src="https://cdn-icons-png.flaticon.com/256/20/20673.png"
            alt="Facebook"
          />
        </a>
        <a href="https://x.com/AgendaJart56575">
          <img
            src="https://cdn-icons-png.flaticon.com/512/81/81725.png"
            alt="Twitter"
          />
        </a>
        <a href="https://www.instagram.com/oscarrs_10/">
          <img
            src="https://cdn-icons-png.flaticon.com/512/87/87390.png"
            alt="Instagram"
          />
        </a>
        <a href="https://www.youtube.com/@milenio">
          <img
            src="https://cdn-icons-png.flaticon.com/512/152/152810.png"
            alt="YouTube"
          />
        </a>
      </div>
    </div>
  </div>
</div>