<div class="home-container fade-in">
  <div class="home-content">
    <div class="content-main slide-in">
      <div class="content-text">
        <div class="slogan">
          <h2>Juntos hacemos la diferencia. ¡Únete y transforma el mundo con tu voluntariado!</h2>
        </div>
      </div>
    </div>
    <div class="cards-container">
      <div class="card slide-in">
        <h3>Misión</h3>
        <p>
          Inspirar y movilizar a personas para que, a través del voluntariado,
           contribuyan al desarrollo sostenible y al bienestar de sus comunidades.
        </p>
      </div>
      <div class="card slide-in">
        <h3>Visión</h3>
        <p>
          Ser la plataforma líder en conectar voluntarios
           con actividades que generen un impacto positivo, 
           promoviendo una cultura de solidaridad y cooperación global.
        </p>
      </div>
      <div class="card slide-in">
        <h3>Valores</h3>
        <p>
          Nuestros valores incluyen el compromiso, empatía,
          colaboración, integridad e innovación
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <mat-card
          class="mantenimiento"
          appearance="outlined"
          routerLink="/registrar-empresa"
        >
          <mat-card-header>
            <h6>Empresa</h6>
          </mat-card-header>
          <img
            mat-card-image
            src="../../../assets/empresa.gif"
            alt="Empresa"
          />
          <mat-card-content>
            <p>
              Registra tu empresa para ofrecer oportunidades de voluntariado y colaborar en proyectos que impacten positivamente en la comunidad.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-md-6">
        <mat-card
          class="cliente"
          appearance="outlined"
          routerLink="/registrar-voluntario"
        >
          <mat-card-header>
            <h6>Voluntario</h6>
          </mat-card-header>
          <img
            mat-card-image
            src="../../../assets/cliente.gif"
            alt="Voluntario"
          />
          <mat-card-content>
            <p>
              Regístrate como voluntario para formar parte proyectos que necesitan tu ayuda y marcar una diferencia positiva en tu comunidad.
            </p>
          </mat-card-content>
        </mat-card>
      </div>
  </div>
</div>