<div class="body">
    <a href="/" class="brand" style="display: flex; justify-content: center; align-items: center;">
      <img src="https://media3.giphy.com/media/8L0Pky6C83SzkzU55a/200w.gif?cid=6c09b952b54wosfn6dgc9ucmie0rcasghs9c8l28w279795q&ep=v1_gifs_search&rid=200w.gif&ct=g" height="200px">
    </a>
    <div class="container">
      <h1>Página no encontrada.</h1>
      <p>Lo sentimos, pero parece que no podemos encontrar la página que estabas buscando. Usualmente esto ocurre porque una página que existía anteriormente fue eliminada o has escrito mal la dirección.</p>
    </div>
    <span class="go-back"><a href="/">Continúa navegando</a></span>
</div>