<div class="body">
    <main id="container">
        <div class="reCaptcha" *ngIf="!captchaValidate">
            <ngx-recaptcha2 #captchaElem [siteKey]="siteKey" (success)="mostrarFormulario()">
            </ngx-recaptcha2>
        </div>
        <div class="registerForm" *ngIf="captchaValidate">
            <form id="registerForm" (ngSubmit)="validarDatos()">
                <!-- FORM HEADER -->
                <div id="form_header">
                    <h1>Registro de Empresa</h1>
                </div>
                <div class="section">
                    <h4 style="margin-bottom: 5px;">Datos de la empresa</h4>
                    <div id="inputs">
                        <!-- NOMBRE COMPLETO -->
                        <div class="input-row">
                            <div class="input-box">
                                <label for="nombre">
                                    Nombre
                                    <div class="input-field">
                                        <i class="fa-solid fa-user"></i>
                                        <input type="text" id="empresa" style="width: 300px;" name="nombre" [(ngModel)]="empresa.nombre">
                                    </div>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section">
                    <h4 style="margin-bottom: 5px;">Datos del administrador</h4>
                    <!-- INPUTS -->
                    <div id="inputs">
                        <!-- NOMBRE COMPLETO -->
                        <div class="input-row row">
                            <div class="input-box col-md-4">
                                <label for="nombre">
                                    Nombre(s)
                                    <div class="input-field">
                                        <i class="fa-solid fa-user"></i>
                                        <input type="text" id="nombre" name="nombre" [(ngModel)]="usuario.nombre">
                                    </div>
                                </label>
                            </div>
                            <div class="input-box col-md-4">
                                <label for="apePaterno">
                                    Apellido Paterno
                                    <div class="input-field">
                                        <i class="fa-solid fa-user"></i>
                                        <input type="text" id="apePaterno" name="apePaterno" [(ngModel)]="usuario.apePaterno">
                                    </div>
                                </label>
                            </div>
                            <div class="input-box col-md-4">
                                <label for="apeMaterno">
                                    Apellido Materno
                                    <div class="input-field">
                                        <i class="fa-solid fa-user"></i>
                                        <input type="text" id="apeMaterno" name="apeMaterno" [(ngModel)]="usuario.apeMaterno">
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="input-row row">
                            <div class="input-box col-md-12">
                                <label for="fechaNach">
                                    Fecha de Nacimiento
                                    <div class="input-field">
                                        <i class="fa-solid fa-calendar"></i>
                                        <input type="date" style="width: 300px;" id="fechaNach" name="fechaNach" [(ngModel)]="usuario.fechaNac">
                                    </div>
                                </label>
                            </div>
                        </div>

                        <div class="input-row row">
                            <div class="input-box col-md-6">
                                <label for="email">
                                    E-mail
                                    <div class="input-field">
                                        <i class="fa-solid fa-envelope"></i>
                                        <input type="text" id="email" name="email" style="width: 300px;" class="dobles" [(ngModel)]="usuario.email">
                                    </div>
                                </label>
                            </div>
                            <div class="input-box col-md-6">
                                <label for="telefono">
                                    Teléfono
                                    <div class="input-field">
                                        <i class="fa-solid fa-phone"></i>
                                        <input type="text" id="telefono" name="telefono" style="width: 300px;" class="dobles" [(ngModel)]="usuario.telefono">
                                    </div>
                                </label>
                            </div>
                            
                        </div>

                        <!-- CONTRASEÑA -->
                        <div class="input-row row">
                            <div class="input-box col-md-6">
                                <label for="password">
                                    Password
                                    <div class="input-field">
                                        <i class="fa-solid fa-key"></i>
                                        <input type="password" id="password" name="password" style="width: 300px;" class="dobles" [(ngModel)]="usuario.password">
                                    </div>
                                </label>
                            </div>
                            <div class="input-box col-md-6">
                                <label for="confirmPassword">
                                    Confirmar Password
                                    <div class="input-field">
                                        <i class="fa-solid fa-key"></i>
                                        <input type="password" id="confirmPassword" name="confirmPassword" style="width: 300px;" class="dobles" [(ngModel)]="confirmPassword">
                                    </div>
                                </label>
                            </div>
                        </div>
                        <div class="links">
                            <a href="/login">
                                ¿Ya tienes una cuenta? inicia sesión.
                            </a>
                        </div>
                    </div>
                </div>

                <!-- REGISTER BUTTON -->
                <button type="submit" id="register_button" [disabled]="btnDisable">
                    Registrar
                </button>
            </form>
        </div>
    </main>
</div>
