/* General */
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    padding: 20px;
}

#registerForm {
    display: flex;
    width: 100%;
    max-width: 900px;
    flex-direction: column;
    background-color: #f8fafc;
    padding: 30px 40px;
    border-radius: 8px;
    gap: 30px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.336);
    animation: dark-to-light-background 0.3s ease-in-out;
}

/* Form Header */
#form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form_header h1 {
    font-size: 40px;
    position: relative;
}

#form_header h1::before {
    position: absolute;
    content: '';
    width: 95%;
    height: 3px;
    background-color: #7c3aed;
    bottom: 4px;
    border-radius: 5px;
}

/* Inputs */
#inputs {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.input-box>label {
    font-size: 16px;
    color: #797984
}

.input-field {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 3px;
    border-bottom: 1px solid #7c3aed;
    cursor: text;
    margin: 0 10px 0 0;
}

.input-field i {
    font-size: 18px;
    cursor: text;
    color: #000;
} 

.input-field input {
    border: none;
    background-color: transparent;
    font-size: 15px;
    padding: 0px 5px;
    width: 100%;
}

.input-field input:focus {
    outline: none;
}

/* Links */
.links a {
    margin-top: 20px;
    text-decoration: none;
    color: #797984;
    font-size: 12px;
}

.links a:hover {
    color: #7c3aed;
}

/* Login Button */
#register_button {
    border: none;
    margin-top: -10px;
    background: linear-gradient(90deg, #7c3aed, #a855f7, #bf46ef);
    padding: 7px;
    border-radius: 3px;
    color: #f8fafc;
    font-weight: bold;
    font-size: 18px;
    cursor: pointer;
    width: 100%; /* Asegura que el botón ocupe todo el ancho del contenedor */
    max-width: 300px; /* Establece un ancho máximo para el botón */
    margin-left: auto; /* Centra el botón alineándolo a la derecha */
    margin-right: auto
}

#fechaNach, #empresa{
    width: 100%;
}


/* Responsivo */
@media (max-width: 768px) {
    #registerForm {
        padding: 20px;
    }

    .input-row {
        flex-direction: column;
    }

    .input-field input {
        width: 100%;
    }

    #fechaNach, #empresa, .dobles{
        width: auto;
        max-width: 190px;
    }

    .input-row {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    }
}
