/* Estilos generales para centrar y dar formato al contenedor del formulario */
.form-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Altura mínima para centrar verticalmente */
    background-color: #1a1a2e; /* Color de fondo */
  }
  
  .form-container {
    background-color: #fff; /* Color de fondo del formulario */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
  }
  
  .mat-stepper-horizontal, .mat-stepper-label-position-bottom {
    background-color: transparent;
  }
  
  .mat-step-label {
    font-size: 1.1rem;
    color: #333;
  }
  
  .mat-form-field {
    width: 100%;
    max-width: 400px; /* Ajusta el ancho máximo según tus necesidades */
    margin: 10px 0; /* Espacio entre los campos del formulario */
  }
  
  #form_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#form_header h1 {
    font-size: 40px;
    position: relative;
}

#form_header h1::before {
    position: absolute;
    content: '';
    width: 90%;
    height: 3px;
    background-color: #004173;
    bottom: 4px;
    border-radius: 5px;
}

  button {
    border: none;
    background: linear-gradient(90deg,#004173, #0979b0,#0cb7f2);
    cursor: pointer;
    color: #FFF;
   
  }
  
  button:hover {
    background-color: linear-gradient(90deg, #004173, #0979b0,#0cb7f2);
  }
  
  /* Estilo para el botón "Siguiente" */
  .button-container {
    margin-top: 20px;
  }
  
  button.mat-raised-button {
    background-color: linear-gradient(90deg, #004173, #0979b0,#0cb7f2);;
    color: #fff;
  }
  
  button.mat-raised-button:hover {
    background-color:linear-gradient(90deg, #004173, #0979b0,#0cb7f2);
  }
  