<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->
  <section
    class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
  >
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span>Conéctate con nosotros a través de redes sociales:</span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a
        href="https://www.facebook.com/profile.php?id=61561170329044"
        class="me-4 text-reset"
      >
        <img
          src="https://cdn-icons-png.flaticon.com/256/20/20673.png"
          alt="facebook"
          style="max-width: 33px"
        />
      </a>
      <a href="https://x.com/AgendaJart56575" class="me-4 text-reset">
        <img
          src="https://cdn-icons-png.flaticon.com/512/81/81725.png"
          alt="twitter"
          style="max-width: 33px"
        />
      </a>
      <a href="https://www.instagram.com/ratapro77omg/" class="me-4 text-reset">
        <img
          src="https://cdn-icons-png.flaticon.com/512/87/87390.png"
          alt="instagram"
          style="max-width: 33px"
        />
      </a>
      <a
        href="https://www.youtube.com/@rataascerosa7778"
        class="me-4 text-reset"
      >
        <img
          src="https://cdn-icons-png.flaticon.com/512/152/152810.png"
          alt="youtube"
          style="max-width: 33px"
        />
      </a>
    </div>
    <!-- Right -->
  </section>
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section>
    <div class="container text-center text-md-start mt-3">
      <!-- Grid row -->
      <div class="row mt-2">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-2">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-2">
            <a
              class="navbar-brand"
              href="/"
              style="
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri,
                  'Trebuchet MS', sans-serif;
              "
            >
              <img class="logo" src="/assets/estrella.png" alt="" />
              AGENDA JART
            </a>
          </h6>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-2">
          <!-- Links -->
          <h6
            class="text-uppercase fw-bold mb-2 dropdown-toggle"
            id="infoDropdown"
            data-bs-toggle="collapse"
            data-bs-target="#infoLinks"
            aria-expanded="false"
          >
            Información
          </h6>
          <div id="infoLinks" class="collapse">
            <p>
              <a href="/politica-privacidad" class="text-reset"
                >Política de Privacidad</a
              >
            </p>
            <p>
              <a href="/mapa-del-sitio" class="text-reset">Mapa del Sitio</a>
            </p>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-2">
          <!-- Links -->
          <h6
            class="text-uppercase fw-bold mb-2 dropdown-toggle"
            id="linksDropdown"
            data-bs-toggle="collapse"
            data-bs-target="#linksMenu"
            aria-expanded="false"
          >
            Enlaces
          </h6>
          <div id="linksMenu" class="collapse">
            <p><a href="/" class="text-reset">Inicio</a></p>
            <p *ngIf="rol != 4 && rol != 3 && rol != null">
              <a href="/equipos-areas" class="text-reset">Equipos/Áreas</a>
            </p>
            <p *ngIf="rol != 4 && rol != null">
              <a href="/usuarios" class="text-reset">Empleados</a>
            </p>
            <p *ngIf="rol != null">
              <a href="/proyectos" class="text-reset">Proyectos</a>
            </p>
            <p *ngIf="rol == null">
              <a href="/login" class="text-reset">Inicio de Sesión</a>
            </p>
            <p *ngIf="rol == null">
              <a href="/registro-empresa" class="text-reset"
                >Registro de Empresa</a
              >
            </p>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-2">
          <!-- Links -->
          <h6
            class="text-uppercase fw-bold mb-2 dropdown-toggle"
            id="contactDropdown"
            data-bs-toggle="collapse"
            data-bs-target="#contactLinks"
            aria-expanded="false"
          >
            Contacto
          </h6>
          <div id="contactLinks" class="collapse">
            <p><i class="fas fa-home me-3"></i> Dolores Hidalgo, Gto, MX.</p>
            <p><i class="fas fa-envelope me-3"></i> jarttorres2.com</p>
            <p><i class="fas fa-phone me-3"></i> +55 418 118 8147</p>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-2" style="background-color: rgba(0, 0, 0, 0.05)">
    © 2024 Copyright: <strong>Agenda JART</strong>
  </div>
  <!-- Copyright -->
</footer>
